body {
  box-sizing:border-box;
}
.chat-div{
  display: inline-block;
  width: 70%;
  height: 500px;
  border: solid black;
  background: grey;
}
.user-div{
  display: inline-block;
  width: 20%;
  height: 500px;;
  border: solid black;
  background: grey;
}
.topic-div{
  display: inline-block;
  width: 70%;
  height: 10%;
  border: solid black;
  background: grey;
}
.session-div{
  display: inline-block;
  width: 20%;
  height: 10%;
  border: solid black;
  background: grey;
}
.container-div1{
  position:inline-block;
  width: 100%;
  height: 100%;
}
.container-div2{
   margin-top:5px;
  position:inline-block;
  width: 100%;
  height: 100%;
}
